<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.sdk.mapper.order.OrderSubScribeMapper">
    <resultMap id="BaseResultMap" type="com.project.sdk.dto.order.OrderSubScribe" >
        <id column="id" property="id"/>
        <result column="orderId" property="orderId"/>
    </resultMap>

    <insert id="addOrderSubScribe" parameterType="com.project.sdk.dto.order.OrderSubScribe" >
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into tm_subscribe (orderId)
        values (#{orderId})
    </insert>
</mapper>