<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.sdk.mapper.order.OrderMapper">
    <resultMap id="BaseResultMap" type="com.project.sdk.dto.order.OrderDto" >
        <id column="id" property="id"  />
        <result column="merchantId" property="merchantId"  />
        <result column="type" property="type"  />
        <result column="number" property="number"  />
        <result column="status" property="status"  />
        <result column="price" property="price"  />
        <result column="user_id" property="userId"  />
        <result column="create_time" property="createTime"  />
        <result column="create_user" property="createUser"  />
        <result column="update_time" property="updateTime"  />
        <result column="update_user" property="updateUser"  />
        <result column="remark" property="remark"  />
        <result column="seat_number" property="seatNumber"  />
    </resultMap>

    <sql id="pagination_tail">
        limit #{page.pageOffset} , #{page.rows}
    </sql>

    <sql id="count_Tail">
        select count(1) from
    </sql>

    <sql id="selectAllColumns">
        <![CDATA[
		select
 			order_.id
 			,order_.merchantId
 			,order_.type
 			,order_.number
 			,order_.status
 			,order_.price
 			,order_.user_id
 			,order_.create_user
 			,order_.create_time
 			,order_.update_user
 			,order_.update_time
 			,order_.remark
 			,order_.seat_number
		FROM
		zm_order order_
        ]]>
    </sql>

    <sql id="where_fragement">
        where 1=1
        <if test="entity!=null">
            <if test="entity.id != null  ">
                <![CDATA[ and order_.id  = #{entity.id} ]]>
            </if>
            <if test="entity.merchantId != null  ">
                <![CDATA[ and order_.merchantId  = #{entity.merchantId} ]]>
            </if>
            <if test="entity.type != null  ">
                <![CDATA[ and order_.type  = #{entity.type} ]]>
            </if>
            <if test="entity.number != null  ">
                <![CDATA[ and order_.number  = #{entity.number} ]]>
            </if>
            <if test="entity.status != null  ">
                <![CDATA[ and order_.status  = #{entity.status} ]]>
            </if>
            <if test="entity.price != null  ">
                <![CDATA[ and order_.price  = #{entity.price} ]]>
            </if>
            <if test="entity.userId != null  ">
                <![CDATA[ and order_.user_id  = #{entity.userId} ]]>
            </if>
            <if test="entity.createTime != null  ">
                <![CDATA[ and order_.create_time  = #{entity.createTime} ]]>
            </if>
            <if test="entity.updateTime != null  ">
                <![CDATA[ and order_.update_time  = #{entity.updateTime} ]]>
            </if>
            <if test="entity.createUser != null  ">
                <![CDATA[ and order_.create_user  = #{entity.createUser} ]]>
            </if>
            <if test="entity.updateUser != null  ">
                <![CDATA[ and order_.update_user  = #{entity.updateUser} ]]>
            </if>
            <if test="entity.remark != null  ">
                <![CDATA[ and order_.remark  = #{entity.remark} ]]>
            </if>
            <if test="entity.seatNumber != null  ">
                <![CDATA[ and order_.seat_number  = #{entity.seatNumber} ]]>
            </if>
        </if>
        order by order_.create_time desc
    </sql>

    <select id="queryById" resultMap="BaseResultMap" parameterType="long">
        <include refid="selectAllColumns"/>
        <![CDATA[
		where order_.id = #{id}
		]]>
    </select>
    <select id="findOrders" resultMap="BaseResultMap">
        <include refid="selectAllColumns"/>
        <include refid="where_fragement"/>
        <if test="page!=null">
            <include refid="pagination_tail"/>
        </if>
    </select>


    <insert id="addOrder" parameterType="com.project.sdk.dto.order.OrderDto" >
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into zm_order (merchantId, type, number,
        status,price,user_id, create_time, create_user,
        update_time, update_user,remark, seat_number)
        values (#{merchantId}, #{type}, #{number},
        #{status},#{price},#{userId}, #{createTime}, #{createUser},
        #{updateTime}, #{updateUser},#{remark}, #{seatNumber})
    </insert>

    <update id="updateOrder" parameterType="com.project.sdk.dto.order.OrderDto" >
        update zm_order
        <set >
            <if test="entity.merchantId != null" >
                merchantId = #{entity.merchantId},
            </if>
            <if test="entity.type != null" >
                type = #{entity.type},
            </if>
            <if test="entity.number != null" >
                number = #{entity.number},
            </if>
            <if test="entity.status != null" >
                status = #{entity.status},
            </if>
            <if test="entity.price != null" >
                price = #{entity.price},
            </if>
            <if test="entity.userId != null" >
                user_id = #{entity.userId},
            </if>
            <if test="entity.updateTime != null" >
                update_time = #{entity.updateTime},
            </if>
            <if test="entity.updateUser != null" >
                update_user = #{entity.updateUser},
            </if>
            <if test="entity.remark != null" >
                remark = #{entity.remark},
            </if>
            <if test="entity.seatNumber != null" >
                seat_number = #{entity.seatNumber},
            </if>
        </set>
        WHERE id = #{entity.id}
    </update>

    <select id="queryCount" resultType="Integer" parameterType="com.project.sdk.dto.order.OrderDto">
        <include refid="count_Tail"/>
        zm_order order_
        <include refid="where_fragement"/>
    </select>

    <select id="getSalesByMerchantId" resultType="Integer" parameterType="Long">
      SELECT COUNT(1) FROM zm_order WHERE merchantId = #{merchantId} AND `status` IN
        <foreach collection="status" index="index" item="item" open="("
                 separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getOrderByNumer" resultMap="BaseResultMap" parameterType="String">
        <include refid="selectAllColumns"/>
        WHERE order_.number= #{number} AND order_.status !='0'
    </select>

</mapper>